/* Write your global styles here, in PostCSS syntax */

/* open props - props */
/* @import "open-props"; */
@import "open-props/normalize.min.css";

html {
    block-size: 100%;
    color-scheme: light dark;
  }

  body {
    min-block-size: 100%;
    display: grid;
    place-content: center;
  }

  .container {
    background-color: var(--surface-4);
  }